nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--margin);
  position: fixed;
  padding: var(--margin);
  right: 0;
  top: 0;
  z-index: 10;

  @media only screen and (max-device-width : 500px) {
    display: none;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 15px 20px;
    position: relative;

    &:after {
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      background: var(--accent-color);
      transition: 0.3s ease;
      width: 0;
    }

    &:hover:after {
      width: 100%;
      left: 0;
    }
  }

  & .underline {
    &:after {
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      background: var(--accent-color);
      width: 100%;
    }
  }
}