.presta {
  margin: calc(var(--margin) * 2) 0;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 300px;
  height: 300px;
  grid-template-areas: "a b c";
  place-items: center;
  text-align: center;

  .presta-imgs {
    height: 100%;

    img {
      height: 100%;
    }
  }

  svg {
    height: 50px;
    width: 50px;
  }

  .presta-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: var(--padding);
    max-width: 800px;
    .line {
      height: 1px;
      background-color: var(--accent-color);
      width: 70%;
    }
  }
}

.presta-r {
  margin: var(--margin) 0;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 300px;
  height: 300px;
  grid-template-areas: "a b c";
  place-items: center;
  text-align: center;
  .presta-imgs {
    height: 100%;

    img {
      height: 100%;
    }
  }
  svg {
    height: 50px;
    width: 50px;
  }

  .presta-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: var(--padding);

    .line {
      height: 1px;
      background-color: var(--accent-color);
      width: 70%;
    }
  }
}

@media (max-width: 950px) {
  .presta,
  .presta-r {
    margin: calc(var(--margin) * 2) 0;
    grid-template-columns: 1fr;
    grid-template-rows: 300px auto;
    grid-template-areas:
      "a"
      " b"
      "c";
    height: auto;
    svg {
      grid-area: b;
    }
  }

  .presta-text {
    margin-top: var(--margin);
    grid-area: c;
    max-width: 500px;
    height: auto;
  }
  .presta-img {
    grid-area: a;
  }
}
