:root {
  --accent-color: #ee8f0b88;
  --text-color: #fefefe;
  --bg-color: #141012;

  --padding: 30px;
  --margin: 50px;
  --wrapper: 0 15%;
  --b-radius: 30px;

  --title-fontsize: 37px;
  --subtitle-fontsize: 25px;
  --body-fontsize: 20px;
}

html {
  scroll-behavior: smooth;
}
